<div style="text-align:center">
  <i><h1 style="color: #c0b283; font-size: 40px;">{{ title }}</h1></i>
</div>
<article>
  <section routerLink="/animals">
    <h2 >Animals</h2>
   <img src="https://www.petmd.com/sites/default/files/introduce-dog-to-cat.jpg"> 
  </section>
  <section>
    <h2>More Information</h2>
    <img src="https://static1.squarespace.com/static/58f11292d2b857e333ebf25f/t/5a0a27d9e4966b7f02f052ec/1510615848142/PAW+Print.png?format=500w">
  </section>
</article>

<router-outlet></router-outlet>
<!-- <app-animals></app-animals> -->